@charset "UTF-8";
/*--------Basic styling applyed wide-site (variables, placeholders, mixins)-------- */
/*---- Variables-------- */
/*---- Base styling-------- */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #002240;
}

.wrapper {
  padding: 1rem;
  margin: 1rem auto;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

p {
  color: #537089;
  font-size: 1.25em;
  line-height: 1.5em;
  word-break: keep-all;
}

img {
  width: 100%;
  height: auto;
}

/*---- Buttons placeholder-------- */
.btn_white, .btn_white_blue_border, .btn_blue, .btn_blue_white_border {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.125em;
  font-weight: 600;
  width: 100%;
  border: 1px solid;
  cursor: pointer;
}

.grow.btn_white, .grow.btn_white_blue_border, .grow.btn_blue, .grow.btn_blue_white_border {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.grow.btn_white:hover, .grow.btn_white_blue_border:hover, .grow.btn_blue:hover, .grow.btn_blue_white_border:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*---- Media queries Mixins-------- */
/*--------Reusable components (navs, cards, buttons)-------- */
/*-------LOGO---------*/
h1 {
  margin: 0px;
  width: 50%;
  line-height: 0em;
}

@media (min-width: 768px) {
  h1 {
    width: 25%;
  }
}

h1 a {
  text-decoration: none;
}

h1 a img {
  width: 100%;
}

h1 span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*---- Buttons-------- */
.btn_white {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color: #002240;
  border-color: #fff;
}

.btn_white_blue_border {
  background: #FFFFFF;
  color: #0688FA;
  border-color: #0688FA;
}

.btn_blue {
  background-color: #0688FA;
  color: #fff;
}

.btn_blue:hover {
  background-color: 0475d8;
}

.btn_blue_white_border {
  background-color: #0688FA;
  color: #fff;
  border-color: #fff;
}

/*---- Cards-------- */
.cards {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---- Navigation-------- */
.navigation-menu li {
  list-style-type: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
  margin: 1rem 0;
}

/*--------Page Layout (containter, flex)-------- */
/*-------Header---------*/
@media (min-width: 1440px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header #login,
header #top_menu {
  display: none;
}

@media (min-width: 1440px) {
  header #login,
  header #top_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    margin: 0px;
  }
}

header #top_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0 0 0 1rem;
  width: 100%;
}

header #top_menu ul li {
  padding: 0px;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #login {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #login button {
  display: inline-block;
  width: auto;
  text-align: center;
  margin-left: 1rem;
  padding: 0 2rem;
}

/*-------ABOVE THE FOLD---------*/
@media (min-width: 768px) {
  #above_the_fold h2 {
    width: 45%;
  }
}

#above_the_fold p {
  color: #002240;
}

@media (min-width: 768px) {
  #above_the_fold p {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 1rem 2rem;
  }
}

#main-image {
  height: 296px;
  margin-bottom: 2rem;
}

#main-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

@media (min-width: 768px) {
  .flex_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*-------MISSION /CULTURE---------*/
@media (min-width: 768px) {
  #mission {
    text-align: center;
  }
}

#mission_statments {
  margin: 3rem 0;
}

@media (min-width: 768px) {
  #mission_statments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

.mission_item {
  margin: 30px 0;
}

@media (min-width: 768px) {
  .mission_item {
    width: 30%;
  }
}

.mission_item h3 {
  font-size: 1.25em;
}

.mission_item img {
  width: 25%;
}

@media (min-width: 768px) {
  #join-the-team {
    width: 60%;
    margin: 0 auto;
  }
}

#join-the-team p {
  color: #002240;
}

@media (min-width: 768px) {
  #join-the-team button {
    width: 40%;
  }
}

/*-------PROGRESS/TIMELINE---------*/
.progress_timeline {
  margin: 1rem auto;
}

.progress_timeline h2 {
  padding: 1rem 0.5rem;
  text-align: center;
}

/*-------OFFICES---------*/
#offices {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(80deg, #FFF5F5 80%, #FFF 20%);
}

@media (min-width: 768px) {
  #offices h2 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  #offices {
    background-image: -webkit-linear-gradient(80deg, #FFF5F5 60%, #FFF 40%);
  }
}

.wrapper {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cards {
  margin: 1.5rem auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .cards {
    padding: 1.5rem 2.5rem;
    width: 40%;
  }
}

.cards h3 {
  margin: 1rem auto;
}

.cards .avatar {
  margin: 1rem auto 0 auto;
  width: 25%;
}

/*-------INVESTORS---------*/
#investors {
  background: url(../img/bg-investors-mobile.svg) no-repeat;
  background-size: contain;
  margin: 0 auto 2.5rem auto;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  #investors {
    background: url(../img/bg-investors.svg) no-repeat;
    background-size: 100%;
  }
}

#investors h2 {
  text-align: left;
}

@media (min-width: 768px) {
  #investors h2 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  #investors #investors_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#investors #investors_list .cards {
  height: 145px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: 0;
}

@media (min-width: 768px) {
  #investors #investors_list .cards {
    width: 40%;
    height: 230px;
  }
}

#investors #investors_list .cards img {
  height: 100%;
  width: 100%;
}

/*-------FUTURE---------*/
#future {
  color: #FFF;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
  margin: 2rem auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(80deg, #0688FA 80%, #FFF 20%);
}

@media (min-width: 768px) {
  #future {
    background-color: #0688FA;
    border-radius: 5px;
    background-image: none;
    padding: 1rem;
    margin: 10px 1rem;
  }
}

#future h2 {
  font-weight: 600;
  font-size: 2em;
}

@media (min-width: 768px) {
  #future .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
  }
}

#future button {
  margin: 1rem auto;
}

@media (min-width: 768px) {
  #future button {
    width: 40%;
  }
}

/*-------FOOTER---------*/
/*---- Bottom Navigation-------- */
#footer_navigation {
  margin: 2rem auto;
}

@media (min-width: 768px) {
  #footer_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  #footer_navigation h1 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

@media (min-width: 768px) {
  #footer_navigation h1 img {
    width: 60%;
  }
}

#footer_navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media (min-width: 768px) {
  #footer_navigation nav {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

#footer_navigation .bottom_nav {
  width: 50%;
}

#footer_navigation .bottom_nav ul {
  margin: 1rem 0;
  padding: 0;
}

#footer_navigation .bottom_nav ul li {
  list-style-type: none;
  cursor: pointer;
  margin: 1rem 0;
}

footer {
  padding: 2rem 0 4rem 0;
  background: #F4F4F4 url(../img/bg-footer-mobile.svg) no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

@media (min-width: 768px) {
  footer {
    background: #F4F4F4 url(../img/bg-footer.svg) no-repeat;
    background-size: contain;
    background-position-y: bottom;
  }
}

footer img {
  -o-object-fit: cover;
     object-fit: cover;
}

footer #footer_bottom {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  footer #footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 4rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer #footer_bottom p {
  color: #002240;
  font-size: 1em;
  text-align: center;
  margin: 3rem 0;
}

@media (min-width: 768px) {
  footer #footer_bottom p {
    text-align: left;
    margin: 1rem 0;
  }
}

@media (min-width: 768px) {
  footer .copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin-bottom: 3rem;
  }
}

/*---- Social Media Menu-------- */
#social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
  width: 50%;
  padding: 0;
}

@media (min-width: 768px) {
  #social_media {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: right;
        align-content: right;
    width: 50%;
  }
}

#social_media li {
  list-style-type: none;
}

@media (min-width: 768px) {
  #social_media li {
    padding-left: 2rem;
  }
}

#social_media li a {
  text-decoration: none;
}

/*---- Terms & Conditions Menu-------- */
#terms_conditions_menu {
  margin: 1rem 0;
  padding: 0;
}

@media (min-width: 768px) {
  #terms_conditions_menu {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 768px) {
  #terms_conditions_menu li {
    padding-right: 2rem;
  }
}

/*--------Timeline Style-------- */
/*-------TIMELINE---------*/
.timeline {
  background-color: #EFF8FF;
}

@media (min-width: 768px) {
  .timeline {
    width: 80%;
    margin: 0px auto;
  }
}

.timeline ul {
  margin: 0px;
  padding: 0 0 40px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  margin: 0 auto;
  padding: 50px 0 0 0;
  background: #0688FA;
  right: 20%;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: inherit;
  background: url(../img/timeline-icon.svg) no-repeat;
  background-size: cover;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  margin-left: 2rem;
  font-weight: 600;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li div::before {
  left: -15px;
  border: 0px;
}

time {
  color: #0688FA;
  font-weight: bold;
  position: absolute;
  bottom: 25%;
  left: -25%;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translate3d(-200px, 0, 0);
          transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */