/*--------Basic styling applyed wide-site (variables, placeholders, mixins)-------- */
/*---- Variables-------- */
/*---- Base styling-------- */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #002240;
}

.wrapper {
  padding: 1rem;
  margin: 10px auto;
}

h1 {
  margin: 0px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

p {
  color: #537089;
  font-size: 1.25em;
  line-height: 1.5em;
  word-break: keep-all;
}

img {
  width: 100%;
  height: auto;
}

/*---- Buttons placeholder-------- */
.btn_white, .btn_blue, .btn_blue_white_border {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.125em;
  font-weight: 600;
  width: 100%;
  border: 1px solid;
  cursor: pointer;
}

/*--------Reusable components (navs, cards, buttons)-------- */
/*-------LOGO---------*/
h1 a {
  text-decoration: none;
}

h1 a img {
  width: 50%;
}

h1 span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*---- Buttons-------- */
.btn_white {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color: #002240;
  border-color: #fff;
}

.btn_blue {
  background-color: #0688FA;
  color: #fff;
}

.btn_blue_white_border {
  background-color: #0688FA;
  color: #fff;
  border-color: #fff;
}

/*---- Cards-------- */
.cards {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---- Navigation-------- */
/*--------Page Layout (containter, flex)-------- */
/*-------Header---------*/
header {
  margin: 10px 0px;
}

header #login,
header nav {
  display: none;
}

/*-------ABOVE THE FOLD---------*/
#above_the_fold p {
  color: #002240;
}

#main-image {
  height: 296px;
}

#main-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

/*-------MISSION---------*/
#mission {
  margin-top: 2.5rem;
}

#mission_statments {
  margin: 5rem 0;
}

.mission_item {
  margin: 30px 0;
}

.mission_item h3 {
  font-size: 1.25em;
}

.mission_item img {
  width: 25%;
}

#join-the-team p {
  color: #002240;
}

/*-------OFFICES---------*/
#offices {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(80deg, #FFF5F5 80%, #FFF 20%);
}

#offices .wrapper {
  margin-bottom: 0px;
}

.cards {
  margin: 1.5rem auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 1rem;
}

.cards h3 {
  margin: 1rem auto;
}

.cards .avatar {
  margin: 1rem auto 0 auto;
  width: 25%;
}

/*-------INVESTORS---------*/
#investors {
  background: url(../img/bg-offices-mobile.svg) no-repeat;
  margin: 0 auto 2.5rem auto;
  padding-top: 3rem;
}

#investors #investors_list .cards {
  height: 145px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: 0;
}

#investors #investors_list .cards img {
  height: 100%;
  width: 100%;
}

/*-------FUTURE---------*/
#future {
  color: #FFF;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
  margin: 2rem auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(80deg, #0688FA 80%, #FFF 20%);
}

#future h2 {
  font-weight: 600;
  font-size: 2em;
}

#future button {
  margin: 1rem auto;
}

/*-------FOOTER---------*/
/*---- Bottom Navigation-------- */
#footer_navigation {
  padding: 1rem;
  margin: 0;
}

#footer_navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#footer_navigation .bottom_nav {
  width: 50%;
}

#footer_navigation .bottom_nav ul {
  margin: 1rem 0;
  padding: 0;
}

#footer_navigation .bottom_nav ul li {
  list-style-type: none;
  cursor: pointer;
  margin: 1rem 0;
}

footer {
  padding: 2rem 0 4rem 0;
  background: #F4F4F4 url(../img/bg-footer-mobile.svg) no-repeat;
  background-position-y: bottom;
}

footer img {
  -o-object-fit: cover;
     object-fit: cover;
}

footer #footer_bottom {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer_bottom p {
  color: #002240;
  font-size: 1em;
  text-align: center;
  margin: 3rem 0;
}

/*---- Social Media Menu-------- */
#social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
  width: 50%;
  padding: 0;
}

#social_media li {
  list-style-type: none;
}

#social_media li a {
  text-decoration: none;
}

/*---- Social Media Menu-------- */
#terms_conditions_menu {
  margin: 1rem 0;
  padding: 0;
}

#terms_conditions_menu li {
  list-style-type: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
  margin: 1rem 0;
}

/*--------Timeline Style-------- */
/*-------TIMELINE---------*/
.timeline {
  background-color: #EFF8FF;
  padding: 0 2rem;
  margin: 2rem 0;
  position: relative;
}

.timeline-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  top: 0;
}

.timeline-item ul::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 2px solid #0688FA;
  position: absolute;
  top: 0;
  left: 30px;
}

.timeline-item ul li {
  margin: 20px 60px 60px;
  position: relative;
  padding: 0;
  color: #fff #002240;
  line-height: 20px;
  width: 80%;
  font-weight: 600;
}

.timeline-item ul li span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 1rem;
  left: -30px;
}

.timeline-item .info:first-letter {
  text-transform: capitalize;
  line-height: 1.7;
}

.timeline-item .time span {
  position: absolute;
  left: -80px;
  font-weight: bold;
  font-size: 1em;
  color: #0688FA;
}

.timeline-item .time span:first-child {
  top: 0px;
}

.timeline-item .time span:last-child {
  top: 10%;
}

.timeline-item ul:last-of-type .arrow {
  position: absolute;
  top: 105%;
  left: 22%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */