/*---- Variables-------- */
$font-primary: 'Source Sans Pro', sans-serif;
$color-primary:  #002240;
$color_secondary:  #537089;
$color_terciary: #0688FA;





/*---- Base styling-------- */


body{
    font-family: $font-primary;
    color: $color_primary;
}

.wrapper{
    padding: 1rem;
    margin: 10px auto;
}

h1{ 
    margin: 0px;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.75em;
    font-weight: 600;
}

p{
    color: $color_secondary;
    font-size: 1.25em;
    line-height: 1.5em;
    word-break: keep-all;
}

img {
  width: 100%;
  height: auto;
}


/*---- Buttons placeholder-------- */
%button-wide {
    font-family: $font-primary;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.125em;
    font-weight: 600;
    width: 100%;
    border: 1px solid;
    cursor: pointer;
}


