/*-------LOGO---------*/
h1 {
    margin: 0px;
    width: 50%;
    line-height: 0em;
     //Tablet
     @include tablet {
        width: 25%;
    }

    a {
        text-decoration: none;

        img {
            width: 100%;
        }
    }

    span {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

}

/*---- Buttons-------- */

.btn_white {
    @extend %button-wide;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color: $color-primary;
    border-color: #fff;

}

.btn_white_blue_border {
    @extend %button-wide;
    background: #FFFFFF;
    color: $color-terciary;
    border-color: $color-terciary;


}

.btn_blue {
    @extend %button-wide;
    background-color: $color-terciary;
    color: #fff;
    
    &:hover{
        background-color: 0475d8;
    }

}

.btn_blue_white_border {
    @extend %button-wide;
    background-color: $color-terciary;
    color: #fff;
    border-color: #fff;

}


/*---- Cards-------- */

.cards {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    box-sizing: border-box;
}


/*---- Navigation-------- */

.navigation-menu {
    li {
        list-style-type: none;
        cursor: pointer;
        font-weight: 800;
        font-size: 1.2em;
        text-align: center;
        margin: 1rem 0;
    }

}