/*-------Header---------*/
header {
    margin: 10px 0px;

    #login,
    nav {
        display: none;
    }

}




/*-------ABOVE THE FOLD---------*/

#above_the_fold {
    p {
        color: $color-primary;
    }
}

#main-image {
    min-height: 296px;
    overflow: hidden;
    border: 1px solid red;

    img {
        object-fit: cover;
        object-position: center;
    }
}

/*-------MISSION---------*/

#mission {
    margin-top: 2.5rem;
}

#mission_statments {
    margin: 5rem 0;
}

.mission_item {
    margin: 30px 0;

    h3 {
        font-size: 1.25em;
    }

    img {
        width: 25%;
    }

}

#join-the-team {
    p {
        color: $color-primary;
    }

}


/*-------OFFICES---------*/

.cards {
    margin: 1.5rem auto;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem 1rem;

    h3{
        margin: 1rem auto;
    }

    .avatar {
        margin: 1rem auto;
        width: 25%;
    }
}

/*-------INVESTORS---------*/

#investors {

    margin: 2.5rem auto;

    #investors_list {

        .cards {
           
            height: 145px;
            margin: 2rem auto;
            padding: 2rem;
            background-color: red($color: #000000);
            
            
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}

/*-------FUTURE---------*/

#future{
    color: #FFF;
    text-align: center;
    padding-top: 2rem;
    margin: 2rem auto;
    h2{
        font-weight: 600;
        font-size: 2em;
    }

   button{
       margin: 1rem auto;
   }

}

/*-------FOOTER---------*/

/*---- Bottom Navigation-------- */
#footer_navigation {
    padding: 2rem 0;
    margin: 2rem 0;

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    
    
}
.bottom_nav{
    width: 50%;
    ul{

        margin: 1rem 0;
        padding: 0;
    li{
        list-style-type: none;
        cursor: pointer;
        margin: 1rem 0;
    }

}
}
}

footer{
    background-color: #F4F4F4;
    padding: 2rem 0;

    #footer_bottom{
        text-align: justify;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    
        p{
            color: $color-primary;
            font-size: 1em;
            text-align: center;
            margin: 3rem 0;
           
        }

    }

  }


  /*---- Social Media Menu-------- */

  #social_media{
          display: flex;
          justify-content: space-between;
          margin: 1rem auto;
          width: 50%;
          padding: 0;
          
          li{
              list-style-type: none;
              a{
                  text-decoration: none;
              }
          }
    
  }

    /*---- Social Media Menu-------- */

#terms_conditions_menu{
    margin: 1rem 0;
    padding: 0;
        li{
            list-style-type: none;
            cursor: pointer;
            font-weight: 800;
            font-size: 1.2em;
            text-align: center;
            margin: 1rem 0;
        }
    
}