/*-------Header---------*/
header {
    @include desktop {
        display: flex;
        justify-content: space-between;

    }

    .wrapper {
        @include desktop {
            margin-bottom: 2rem;

        }
    }

    #login,
    #top_menu {
        display: none;

        @include desktop {
            display: flex;
            width: 30%;
            margin: 0px;
        }
    }

    #top_menu ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0 0 0 1rem;
        width: 100%;

        li {
            padding: 0px;
            margin: 0px;
            align-items: center
        }
    }

    #login {
        justify-content: flex-end;

        button {
            display: inline-block;
            width: auto;
            text-align: center;
            margin-left: 1rem;
            padding: 0 2rem;
        }
    }
}

/*-------ABOVE THE FOLD---------*/

#above_the_fold {
    h2 {
        @include tablet {
            width: 45%;
        }
    }

    p {
        color: $color-primary;

        @include tablet {
            width: 45%;
        }
    }
}

.wrapper {
    @include tablet {
        padding: 1rem 2rem;
    }
}

#main-image {
    height: 296px;
    margin-bottom: 2rem;

    img {
        object-fit: cover;
        height: 100%;
    }
}

.flex_wrapper {

    //Tablet only
    @include tablet {
        display: flex;
        justify-content: space-between;
    }

}

/*-------MISSION /CULTURE---------*/

#mission {

    @include tablet {
        text-align: center;
    }
}

#mission_statments {
    margin: 3rem 0;

    @include tablet {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
}

.mission_item {
    margin: 30px 0;

    @include tablet {
        width: 30%;
    }

    h3 {
        font-size: 1.25em;
    }

    img {
        width: 25%;
    }

}

#join-the-team {
    @include tablet {
        width: 60%;
        margin: 0 auto;
    }

    p {
        color: $color-primary;
    }

    button {
        @include tablet {
            width: 40%;

        }
    }

}

/*-------PROGRESS/TIMELINE---------*/
.progress_timeline {
    margin: 1rem auto;

    h2 {
        padding: 1rem 0.5rem;
        text-align: center;
    }
}



/*-------OFFICES---------*/

#offices {
    h2 {
        @include tablet {
            text-align: center;

        }
    }

    background-color: #FFF;
    background-image: -webkit-linear-gradient(80deg, #FFF5F5 80%, #FFF 20%);

    @include tablet {
        background-image: -webkit-linear-gradient(80deg, #FFF5F5 60%, #FFF 40%);

    }
}

.wrapper {
    margin-bottom: 0px
}

.flex-wrapper {
    @include tablet {
        display: flex;

    }

}

.cards {
    margin: 1.5rem auto;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem 1rem;

    @include tablet {
        padding: 1.5rem 2.5rem;
        width: 40%;

    }

    h3 {
        margin: 1rem auto;
    }

    .avatar {
        margin: 1rem auto 0 auto;
        width: 25%;
    }
}

/*-------INVESTORS---------*/

#investors {
    background: url(../img/bg-investors-mobile.svg) no-repeat;
    background-size: contain;
    margin: 0 auto 2.5rem auto;
    padding-top: 3rem;

    @include tablet {
        background: url(../img/bg-investors.svg) no-repeat;
        background-size: 100%;

    }

    h2 {
        text-align: left;

        @include tablet {
            text-align: center;

        }
    }

    #investors_list {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }


        .cards {

            height: 145px;
            margin: 2rem auto;
            padding: 2rem;
            background-color: red($color: #000000);

            @include tablet {
                width: 40%;
                height: 230px;
            }

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

/*-------FUTURE---------*/

#future {
    color: #FFF;
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    margin: 2rem auto;
    box-sizing: content-box;

    background-color: #FFF;
    background-image: -webkit-linear-gradient(80deg, $color-terciary 80%, #FFF 20%);

    @include tablet {
        background-color: $color-terciary;
        border-radius: 5px;
        background-image: none;
        padding: 1rem;
        margin: 10px 1rem;
    }

    h2 {
        font-weight: 600;
        font-size: 2em;
    }

    .flex-wrapper {
        @include tablet {
            display: flex;
            align-content: space-between;
            width: 60%;
            justify-content: center;
            margin: 0px auto;
        }
    }

    button {
        margin: 1rem auto;

        @include tablet {
            width: 40%;
        }
    }
}



/*-------FOOTER---------*/

/*---- Bottom Navigation-------- */
#footer_navigation {

    margin: 2rem auto;

    @include tablet {
        display: flex;
        width: 90%;

        justify-content: space-between;

    }

    h1 {
        @include tablet {
            flex: 2;
        }

        img {
            @include tablet {

                width: 60%;

            }
        }
    }


    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;

        @include tablet {
            flex: 3
        }


    }

    .bottom_nav {
        width: 50%;

        ul {

            margin: 1rem 0;
            padding: 0;

            li {
                list-style-type: none;
                cursor: pointer;
                margin: 1rem 0;
            }

        }
    }
}

footer {
    padding: 2rem 0 4rem 0;
    background: #F4F4F4 url(../img/bg-footer-mobile.svg) no-repeat;
    background-size: contain;
    background-position-y: bottom;

    @include tablet {
        background: #F4F4F4 url(../img/bg-footer.svg) no-repeat;
        background-size: contain;
        background-position-y: bottom;
    }

    img {
        object-fit: cover;
    }

    #footer_bottom {
        text-align: justify;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        @include tablet {
            margin-bottom: 4rem;
            display: flex;
            padding: 1rem;

        }

        p {
            color: $color-primary;
            font-size: 1em;
            text-align: center;
            margin: 3rem 0;

            @include tablet {
                text-align: left;
                margin: 1rem 0;
            }
        }

    }

}


/*---- Social Media Menu-------- */

#social_media {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 50%;
    padding: 0;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }

}

/*---- Social Media Menu-------- */

#terms_conditions_menu {
    margin: 1rem 0;
    padding: 0;

    @include tablet {
        width: 50%;
        display: flex;
        flex-direction: row;
        flex: 1;
    }

}