/*-------Header---------*/
header{
        margin:10px 0px;
    #login,
    nav {
        display: none;
    }
}

/*-------ABOVE THE FOLD---------*/

#above_the_fold{
        p{
            color: $color-primary;
        }
}
#main-image {
    min-height: 296px;
    overflow: hidden;
    border: 1px solid red;
    img{
        object-fit: cover;
        object-position: center;
    }
}

/*-------MISSION---------*/

#mission{
    margin-top: 2.5rem;
}

#mission_statments{
    margin: 5rem 0;
}

.mission_statements_item{
    margin: 30px 0;
    h3{
        font-size: 1.25em;
    }
    img{
        width: 25%;
    }

}

#join-the-team{
    p{
        color: $color-primary;
    }
    button{
        @extend %button-wide;
        background-color: $color-terciary;
        color: #fff;
    }
}